{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Preprocessing{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="{{ url_for("views.submit_preprocess") }}" enctype="multipart/form-data">
    <h2>Preprocessing options</h2>
    <label for="user">Job Name:</label>
    <input name="user" id="user" required />
    <label for="numdata">Data Type:</label>
    <select name="numdata" id="numdata">
      <option value="1">Only Medicare</option>
      <option value="2">Only Medicaid or Other Claims</option>
      <option value="0">Both</option>
    </select>
    <label for="mld">Length of Medicaid or Other Insurance Enrollment File (in months):</label>
    <input name="mld" id="mld" />
    <label for="mle">Length of Medicare Enrollment File (in months):</label>
    <input name="mle" id="mle" />
    <label for="sd">Start Date for Medicaid Enrollment (YYYY-MM-DD):</label>
    <input name="sd" id="sd" />
    <label for="se">Start Date for Medicare Enrollment (YYYY-MM-DD):</label>
    <input name="se" id="se" />
    <label for="dc">Drug Code:</label>
    <select name="dc" id="dc">
      <option value="VAL_2ND">Short GNN drug grouped features</option>
      <option value="DM3_SPE">DM3 specific drug</option>
    </select>
    <label for="metacsv">Metadata CSV:</label>
    <input name="metacsv" id="metacsv" type="file" accept="text/csv" />
    <label for="mecareClaims">Medicare Claims CSV:</label>
    <input name="mecareClaims" id="mecareClaims" type="file" accept="text/csv" />
    <label for="mecareEnroll">Medicare Enrollment CSV:</label>
    <input name="mecareEnroll" id="mecareEnroll" type="file" accept="text/csv" />
    <label for="mecaidClaims">Medicaid Claims CSV:</label>
    <input name="mecaidClaims" id="mecaidClaims" type="file" accept="text/csv" />
    <label for="mecaidlaims2">Medicaid Pharmacy Claims CSV:</label>
    <input name="mecaidClaims2" id="mecaidlaims2" type="file" accept="text/csv" />
    <label for="mecaidEnroll">Medicaid Enrollment CSV:</label>
    <input name="mecaidEnroll" id="mecaidEnroll" type="file" accept="text/csv" />
    <input type="submit" value="Upload" />
  </form>
{% endblock %}
